
@full-width: 980px;
@tablet-width: 720px;
@phone-width: 480px;
@xs-width: 320px;


//fonts()
// Neris Black
// Roboto-medium
// Roboto-light
// Roboto-regular

//подключаем их
@nerisB: 'neris';
@robotoL: 'robotoL';
@robotoR: 'robotoR';
@robotoB: 'robotoB';
@robotoM: 'robotoM';



@patchToIcon: "../img/";