header{
	.wrap;
	padding-top: 30px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 250px;
	.logo{

	}
	nav{
		text-transform: uppercase;
		text-align: right;
		padding-top: 20px;
		a{
			text-decoration: none;
			color: #ffffff;
			font-family: @robotoM;
			margin: 10px;
			font-size: 1.125rem;
			vertical-align: 10px;
		}
	}
}